<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.nio.router.replugin.core">

    <application>

        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.nio.router.replugin.core.RouterBridgeActivity"/>
    </application>

</manifest>
